*{
    margin: 0;
    padding: 0;
    transition: background-color .3s;
}
:root{
    --text-color: #9bd19c;
    --background-light: white;
    --background-dark: #ccedcd;
    --hover: #eee;
    --select: #9bd19c;
    --placeholder: #baccba;
    --scrollbar: #9bd19c;
    --scrollbar-hover: #9bbf9c;
}
.darkMode{
    --text-color: #333;
    --background-light: #9bbf9c;
    --background-dark: #333;
    --hover: #8baf8c;
    --select: #6b8f6c;
    --placeholder: #6b8f6c;
    --scrollbar: #6b836b;
    --scrollbar-hover: #4b634b;
}
body{
    background-color: var(--background-dark);
    text-align: center;
}
p{
    cursor: default;
}
.nav-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: .3rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-light);
    width: 100%;
    height: 30px;
    border-radius: 1px;
    box-shadow: 0 0 9px var(--background-dark);
}
#home-i{
    color: var(--text-color);
    margin: 3px;
    cursor: pointer;
    border-radius: 50%;
}
#home-i:hover{
    background-color: var(--hover);
}
.right-nav{
    text-align: center;
    justify-content: center;
    padding: 5px;
}
.dark-mode{
    font-size: 13px;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
}
.dark-mode:hover{
    background-color: var(--hover);
}
main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.rect-container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
@media (min-width: 65em ){
    main, footer, .navbar{
        max-width: 50em;
    }
}
.row{
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.letter{
    font-size: 13px;
}
.number{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 60px;
    background-color: var(--background-light);
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--text-color);
    box-shadow: 0 0 17px;
    transition: transform .5s;
}
.number:hover {
    transform: scale(1.2);
}
.mid-p{
    padding: 5px;
    background-color: var(--background-light);
    margin-top: 60px;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 0 9px;
}
.intro-p{
    background-color: var(--background-light);
    margin-top: 30px;
    padding: 15px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    font-weight: bold;
    box-shadow: 0 0 9px;
}
.io{
    margin-top: 30px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    font-weight: bold;
}
.selector{
    background-color: var(--background-light);
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 9px;
}
.selector-item{
    padding: 5px;
    padding-left: 15px;
    cursor: pointer;
}
.selector-item:hover{
    background-color: var(--hover);
}
#text-to-dummy-select{
    border-bottom: 3px solid var(--select);
}
.io-p{
    width: 100px;
    background-color: var(--background-light);
    height: 1rem;
    padding: 2px;
    border-radius: 3px;
    grid-column: a;
    box-shadow: 0 0 9px;
}
.input-wrapper, .output-wrapper{
    display: grid;
    gap: 1em;
    grid-template-areas: 
    "a b b b c";
    margin-top: 20px;
}
.io-button{
    background-color: var(--background-light);
    color: var(--text-color);
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 3px;
    grid-column: c;
    box-shadow: 0 0 9px;
    cursor: pointer;
}
.io-button:hover{
    background-color: var(--hover);
}
.input-div, .output-div{
    display: flex;
    padding: 10px;
    background-color: var(--background-light);
    height: 180px;
    grid-column: b;
    border-radius: 7px;
    box-shadow: 0 0 9px;
}
#input-field, #output-field{
    background-color: var(--background-light);
    margin: 0;
    color: var(--text-color);
    resize: none;
    width: 100%;
    outline: none;
    border: none;
}
footer{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-light);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 100px;
    padding: 20px;
    box-shadow: 0 0 9px;
    border-radius: 5px;
}
.footer-a{
    color: var(--text-color);
    text-decoration: none;
}

.footer-a:hover{
    text-decoration: underline;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:var(--scrollbar-hover);
}
::placeholder{
    color: var(--placeholder);
}
